extends ../base.pug

block content
    video(src=`/${video.fileUrl}`, controls)
    div
        button#play Play 
        button#mute Mute
        span#time 00:00/00:00
        input(type="range", min="0", max="1", step="0.2", value="0.5")#volume


    //- div
    //-     p=video.hashtags
    //-     h3=video.title
    //-     small=video.createdAt
    //-     p=video.description
    //- div 
    //-     h3 uploaded by 
    //-         a(href=`/users/${video.owner._id}`) #{video.owner.name}
    //- if String(loggedInUser._id) === String(video.owner._id)
    //-     br
    //-     a(href=`${video.id}/edit`) Edit video &larr;
    //-     br
    //-     a(href=`${video.id}/delete`) Delete video &larr;

block scripts
    script(src="/static/js/videoPlayer.js")