extends ../base.pug

block content
    div#videoContainer(data-id=video._id)
        if isHeroku
            video(src=`${video.fileUrl}`)#video
        else
            video(src=`/${video.fileUrl}`)#video
        div#videoControls
            div#videoDuration
                input(type="range", min="0", step="1", value="0")#timeline
            div#videoFunctions
                div#videoFunctions-left
                    button#play
                        i.fas.fa-play
                    button#mute
                        i.fas.fa-volume-up
                    input(type="range", min="0", max="1", step="0.1", value="1")#volume
                    div#timetable
                        span#currentTime 00:00:00
                        span &nbsp;/&nbsp;
                        span#totalTime 00:00:00
                div#videoFunctions-right
                    button#fullScreen
                        i.fas.fa-expand

    div
        p=video.hashtags
        h3=video.title
        small=video.createdAt
        p=video.description
    div 
        h3 uploaded by 
            a(href=`/users/${video.owner._id}`) #{video.owner.name}
    if String(loggedInUser._id) === String(video.owner._id)
        br
        a(href=`${video.id}/edit`) Edit video &larr;
        br
        a(href=`${video.id}/delete`) Delete video &larr;

    if loggedIn
        div.video__add-comments   
            form.video__comment-form#commentForm
                textarea(cols="50", rows="5", placeholder="Write comment")
                button Add Comment

    div.video__comments
        each comment in video.comments.reverse()
            div.video__comment(data-id=comment.id)
                i.fas.fa-comment
                span #{comment.text}
                if String(loggedInUser._id) === String(comment.owner._id)
                    i.fas.fa-times.deleteCommentBtn

block scripts
    script(src="/static/js/videoPlayer.js")
    if loggedIn 
        script(src="/static/js/commentSection.js")