mixin recommended-video(video)
    div.recommended-video
        a(href=`/videos/${video.id}`)
            div.recommended-video__primary
                div.recommended-video__wrapper
                    if isHeroku
                        video(src=`${video.fileUrl}`, poster=`${video.thumbUrl}`, muted="muted", preload="metadata").preview-video
                    else
                        video(src=`/${video.fileUrl}`, poster=`/${video.thumbUrl}` muted="muted", preload="metadata").preview-video
                    span.recommended-video__time
            div.recommended-video__secondary
                div.recommended-video__title
                    span=video.title
                div.recommended-video__info
                    span=video.owner.name
                    div.recommended-video__additional-info
                        span 조회수 #{video.meta.views}회 
                        span#dot • 
                        span #{moment(video.createdAt).fromNow()}