mixin video(video)
    div.video-mixin
        div.video-mixin__primary
            a(href=`/videos/${video.id}`)
                div.video-mixin__wrapper
                    if isHeroku
                        video(src=`${video.fileUrl}`, poster=`${video.thumbUrl}`, muted="muted", preload="metadata").preview-video
                    else
                        video(src=`/${video.fileUrl}`, poster=`/${video.thumbUrl}` muted="muted", preload="metadata").preview-video
                    span.video-mixin__time
        div.video-mixin__secondary
            div.video-mixin__avatar
                a.video-mixin__wrapper--avatar(href=`/users/${video.owner._id}`)
                    if isHeroku
                        if(video.owner.avatarUrl === `images/default-profile.png`)
                            img(src=`/${video.owner.avatarUrl}`).avatar
                        else
                            img(src=`${video.owner.avatarUrl}`).avatar
                    else
                        img(src=`/${video.owner.avatarUrl}`).avatar
            div.video-mixin__wrapper--info
                a(href=`/videos/${video.id}`)
                    div.video-mixin__title
                        span #{video.title}
                    div.video-mixin__info 
                        span #{video.owner.name}
                        div.video-mixin__additional-info
                            span 조회수 #{video.meta.views}회 
                            span#dot • 
                            span #{moment(video.createdAt).fromNow()}