extends ../base

block content
    if(errorMessage)
        span=errorMessage
    form(method="POST", enctype="multipart/form-data").edit-profile__form
        label(for="username") Username (ID)
        input(id="username", name="username", type="text", placeholder="Username", value=loggedInUser.username, required)
        label(for="name") Name
        input(id="name", name="name", type="text", placeholder="Name", value=loggedInUser.name, required)
        label(for="email") Email
        input(id="email", name="email", type="email", placeholder="Email", value=loggedInUser.email, required)
        label(for="location") Location
        input(id="location", name="location", type="text", placeholder="Location", value=loggedInUser.location, required)
        label(for="avatar") Avatar
        input(id="avatar", name="avatar", type="file", accept="image/*")
        input(type="submit", value="Update Profile")
    if(!loggedInUser.socialOnly)
        div.edit-profile__password
            a(href="change-password") Change Password

    div 
        a(href="/users/delete") Delete your account
