extends ../base
include ../mixins/video

block content
    div.default__container
        div.profile__data
            if ownerUser.avatarUrl
                if isHeroku
                    if(ownerUser.avatarUrl === `images/default-profile.png`)
                        img(src=`/${ownerUser.avatarUrl}`).avatar
                    else
                        img(src=`${ownerUser.avatarUrl}`).avatar
                else
                    img(src=`/${ownerUser.avatarUrl}`).avatar
            if ownerUser.name !== undefined 
                h3 #{ownerUser.name}
            span.subscriber-count 구독자 #{subscribedCount}명
        div.profile__additional-info
            if loggedIn
                if String(loggedInUser._id) !== String(ownerUser._id)
                    if subscribed
                        button.unsubscribe-btn(data-id=ownerUser._id) 구독 취소
                    else
                        button.subscribe-btn(data-id=ownerUser._id) 구독
        div.video-grid.video-grid--small
            each video in ownerUser.videos.reverse()
                +video(video)
            else
                span.empty__message 업로드한 동영상이 없습니다

block scripts
    script(src="/static/js/previewVideo.js")
    if loggedIn
        script(src="/static/js/subscribe.js")